################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
*.ipch
*.db
*.opendb
*.user
*.filters
*.vcxproj
*.tlog
*.obj
*.pdb
*.log
*.sln
*.ipdb
*.iobj
*.exe
*.db-wal
*.db-shm
